<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="description" content="Inria Associated Team MAGICO" />
  <meta name="keywords" content="your,keywords,goes,here" />
  <meta name="author" content="C. Adjih" />
  <link rel="stylesheet" type="text/css" href="andreas00.css" media="screen,projection" />
  <title>Inria International Team MAGICO</title>
</head>

<body>
<div id="wrap">
  <div id="header">
    <font color=#FAFAFA >	<h1></h1>
      <p><b><h2></h2></b></p>
    </font> 
  </div>
  <@MENU@>



<!-- ================================================== -->

<div id="content" style="text-align: justify;">

    
<h1>Contact</h1>

<h2>French Team Leader</h2>
<p>
Name: Cedric Adjih, Inria Saclay, Team <a href="https://team.inria.fr/tribe">TRiBE</a>.<br>
Email: cedric.adjih__AT__inria.fr
</p>

<h2>Indian Team Leader</h2>


Name: Dr. Sanjeev Sharma<br>
Assistant Professor<br>
Department of Electronics Engineering <a href="https://www.iitbhu.ac.in/">IIT (BHU), Varanasi</a><br>
Email: <a href="https://www.iitbhu.ac.in/dept/ece/people/sanjeevece">(see homepage)</a>

<h2>Indian Team Co-Leader</h2>


Name: Dr. Kuntal Deka<br>
Assistant Professor<br>
Department of Electronic and Electrical Engineering <a href="https://www.iitg.ac.in/eee/">IIT Guwahati</a><br>
Email: <a href="https://iitg.ac.in/eee/kuntald.html">(see homepage)</a>


</div>

<!-- ================================================== -->

<@FOOTER@>

</div>
</body>
</html>
